---
import type { CollectionEntry } from 'astro:content'
import PostCard from './PostCard.astro'

interface Props {
  posts: CollectionEntry<'posts'>[]
}

const { posts } = Astro.props
---

<div>
  <ul class="grid grid-cols-1 md:grid-cols-2 gap-5">
    {
      posts.map((post, index) => (
        <li>
          <PostCard entry={post} index={index} />
        </li>
      ))
    }
  </ul>
</div>
